html, body {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
}

.container {
    margin: 32px;
    margin-top: 240px;
    margin-bottom: 60px;
    flex-shrink: 1;
    min-width: 600px;
    width: 820px;
}

header {
    display: flex;
    align-items: flex-end;
}

.thumbnail {
    width: 240px;
    height: 240px;
    object-fit: cover;
}

.burger-title {
    display: flex;
    align-items: center;
}

.burger-name {
    font-size: 3rem;
    font-weight: normal;
    margin-top: 0;
    margin-bottom: 0.5rem;
}

.burger-company {
    margin-left: 1rem;
    font-size: 1rem;
    color: white;
    font-weight: bolder;
    background: rgb(233, 151, 0);
    padding: 0.2rem 0.5rem;
    border-radius: 0.8rem;
}

.burger-description {
    font-size: 1.2rem;
    font-weight: normal;
    margin: 0;
}

.burger-variants {
    display: flex;
}

.burger-variant+.burger-variant {
    margin-left: 1rem;
}

.burger-variant {
    border: 1px solid rgb(202, 202, 202);
    border-radius: 8px;
    padding: 16px;
    width: 144px;
    height: 72px;
    display: flex;
    background: white;
}

.burger-variant-name {
    font-size: 1.2rem;
    font-weight: lighter;
    margin: 0;
}

.burger-variant-price {
    margin: 0;
    font-size: 1.8rem;
    font-weight: lighter;
    align-self: flex-end;
    margin-left: auto;
}

.subtitle {
    font-weight: normal;
    font-size: 1.5rem;
}

.nutrition-facts {
    background: white;
    border: 1px solid rgb(202, 202, 202);
    border-collapse: collapse;
    text-align: center;
}

.nutrition-facts th,
.nutrition-facts td {
    border: 1px solid rgb(202, 202, 202);
    padding: 8px 16px;
}

.background-image {
    width: 880px;
    height: 880px;
    object-fit: cover;
    position: absolute;
    z-index: -999;
    opacity: 0.1;
    filter: blur(2px);
}